<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="{{ site.description }}" />
  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <link
    rel="shortcut icon"
    href="{{ '/images/ico/s_ico.svg' | prepend: site.baseurl }}"
  />
  <link
    rel="stylesheet"
    href="{{ '/assets/css/styles.min.css' | prepend: site.baseurl }}"
  />
</head>
