<header class="top-nav">
  <h1 class="logo">sbhaseen.github.io</h1>
  <button class="nav-toggle">
    <span class="hamburger"></span>
  </button>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ '/' | prepend: site.baseurl }}" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{ '/#about' | prepend: site.baseurl }}" class="nav-link"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a href="{{ '/#skills' | prepend: site.baseurl }}" class="nav-link"
          >Skills</a
        >
      </li>
      <li class="nav-item">
        <a href="{{ '/blog' | prepend: site.baseurl }}" class="nav-link"
          >Blog</a
        >
      </li>
    </ul>
  </nav>
</header>
