.intro {
  min-height: 100vh;
  background: url(../../images/background_01.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--clr-light);

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.profile {
  padding: 1em 0;
}

.profile-image {
  height: 250px;
  border-radius: 50%;
  border: 6px solid white;
}

img.profile-image {
  object-fit: cover;
}

.welcome-text {
  font-size: 2rem;
  padding: 1em 0;
}

@include mq {
  .intro {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
